@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

@media (min-width: 720px) {
  .container {
    width: 50vw;
    margin: auto;
  }
}
@media (max-width: 720px) {
  .container {
    width: 90vw;
    margin: auto;
  }
}
.container * {
  color: #fff;
}
*:focus {
  outline: 0px;
}

.logo {
  color: #338fff;
  font-size: 45px;
  font-weight: 600;
}

body {
  background: #3f4349;
}
.lexend {
  font-family: "Lexend", sans-serif;
}

.rm {
  font-family: "Roboto Mono", monospace;
}

a {
  text-decoration: none;
  color: #338fff !important;
  padding: 5px;
}

.heading2 {
  font-size: 35px;
  text-align: center;
}

.button {
  padding: 12px;
  border: none;
  border-radius: 15px;
  background-color: #338fff;
  color: #fff;
  transition: 0.3s;
}

.button:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 15px #338fff;
}
