@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

* {
  box-sizing: border-box;
}
